<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1"><!--手机界面-->
	<title>豆瓣一刻</title>
	<link rel="shortcut icon" href="./favicon.ico" type="image/x-icon">
	<link rel="stylesheet" href="./public/less/main.css">
</head>
<body ng-app='yike'>
	<div class="viewport" >
		<!-- 侧边导航 -->
		<div ng-class="{navs:true,collapse:collapsed}">
			<dl ng-controller="NavContr">
				<dt class="login">
					<div class="avatar">
						<img src="./public/images/avatar.png" alt="">
					</div>
					<span>登录</span>
				</dt>
				<dd ng-class="{active:key==0}" ng-repeat="(key,nav) in navs">
					<a href="{{nav.link}}" class="{{nav.icon}}">
						<span>{{nav.text}}</span>
					</a>
				</dd>
			</dl>
			<div class="extra">
				<a href="javascript:;" class="icon-image">夜晚</a>
				<a href="javascript:;" class="icon-download">离线</a>
			</div>
		</div>
		<div class="container">
			<!-- 头部 -->
			<div ng-class="{header:true,collapse:collapsed}">
				<a ng-click="toggle()" href="javascript:;" class="menu icon-menu"></a>
				<h2>今日一刻</h2>
				<a href="javascript:;" class="search icon-search"></a>
			</div>
			<!-- 主体 -->
			<div ng-class="{body:true,collapse:collapsed}">
				<div class="item">
					<!-- 日期分类 -->
					<div class="mark">13Aug</div>
					<ul class="posts large">
						<!-- 文章 -->
						<li>
							<span href="javascript:;" class="tag">去远方</span>
							<div class="cont">
								<h3>朝圣山南扎央宗--探索藏文化之源探索藏文化之源</h3>
								<div class="brief">
									<p class="only">那里有个很窄的洞，钻进去曾是莲花生大师修行的地方，在藏民心中钻洞是为了洗清那里有个很窄的洞，钻进去曾是莲花生大师修行的地方，在藏民心中钻洞是为了洗清中钻洞是为了洗清那里有个很窄的洞，钻进去曾是莲花生大师修行的地方</p>
								</div>							
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- <script src="./public/libs/toggle.js"></script> 不用以前的js，用angularjs-->
	<script type="text/javascript" src="./bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="./scripts/app.js"></script>
	<script type="text/javascript" src="scripts/controllers.js"></script>
</body>
</html>